* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #eaeaea;
}

window#waybar {
  background: rgba(20, 20, 20, 0.0);
  padding: 4px 6px;
}

#workspaces button,
#battery,
#clock,
#cpu,
#custom-mem-cust,
#pulseaudio {
  padding: 0px 8px;
  margin: 0px 6px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
}

#workspaces button.active {
  box-shadow: inset 0 -4px rgb(183, 134, 27);
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}


