* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #eaeaea;
}

window#waybar {
  background: rgba(20, 20, 20, 0.0);
  padding: 4px 6px;
}

#window {
  margin-left: 15px;
}

#battery,
#clock,
#cpu,
#custom-mem-cust,
#custom-network,
#pulseaudio {
  padding: 0px 8px;
  margin: 0px 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
}

#custom-ws1,
#custom-ws2,
#custom-ws3,
#custom-ws4,
#custom-ws5,
#custom-ws6,
#custom-ws7,
#custom-ws8,
#custom-ws9,
#custom-ws10 {
  padding: 0px 1px;
  margin: 0px 1px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
}


#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active,
#custom-ws4.active,
#custom-ws5.active,
#custom-ws6.active,
#custom-ws7.active,
#custom-ws8.active,
#custom-ws9.active,
#custom-ws10.active {
  box-shadow: inset 0 -4px #c28b2c;
}
#battery.charging {
  color: #9ece6a;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}

#custom-network.no-vpn {
  color: #c28b2c;
}

#custom-network.vpn-home {
  color: #566b84;
}

#custom-network.vpn-egress {
  color: #9ece6a;
}
